DBT_ENGINE_PROFILES_DIR=dbt
GCP_PROJECT_ID=your-gcp-project-id
GCP_KEY_PATH=include/gcp-key.json
GCP_DATASET=sdud_raw
AIRFLOW_CONN_GOOGLE_CLOUD_DEFAULT=google-cloud-platform://?extra__google_cloud_platform__key_path=%2Fusr%2Flocal%2Fairflow%2Finclude%2Fgcp-key.json
